.bg1 {
    background: url('dabsprite.png') -0 -0;
}
.bg2 {
    background: url('dabsprite.png') -323px -0;
}
.bg3 {
    background: url('dabsprite.png') -646px -0;
}
.bg4 {
    background: url('dabsprite.png') -969px -0;
}
.bg5 {
    background: url('dabsprite.png') -1292px -0;
}
.bg6 {
    background: url('dabsprite.png') -1615px -0;
}
.bg7 {
    background: url('dabsprite.png') -1938px -0;
}
.bg8 {
    background: url('dabsprite.png') -2261px -0;
}
.bg9 {
    background: url('dabsprite.png') -2584px -0;
}
.bg10 {
    background: url('dabsprite.png') -2907px -0;
}